name: Deploy to Firebase (Manual)
on:
  push:
    branches:
      - main
jobs:
  deploy_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Deploy to Firebase
        env:
          GOOGLE_APPLICATION_CREDENTIALS: /tmp/service-account.json
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_RODRIGUEZMICHAEL_SITE }}' > /tmp/service-account.json
          firebase deploy --only hosting --project rodriguezmichael-site --json
